*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pywz

__pycache__

.env
.env.local
.env.development
.env.production
.env.test
.env.test.local

.vscode
.idea
.DS_Store
.pytest_cache
.pytest_cache
.pytest_cache

.editorconfig

*.db
*.sqlite3
